
// navigation bar
.navbar {
    padding: 20px;
}

.indexpic {
    width: 100%;
}



//coursecard
.arrow-pointer {
    width: 250px;
    height: 50px;
    background: #32557f;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0; bottom: 0; width: 0; height: 0;
        border-left: 25px solid #7eb4e2;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }

    &:before {
        content: '';
        position: absolute;
        right: -25px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 25px solid #32557f;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }
}

.fa-solid{
    color:#0dcaf0;
}

.coursecard{
    margin: 30px;
    padding: 20px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.dept{
    background-color: #0dcaf0;
    padding: 5px;
    font-weight: 300;
    font-size: small;
    border-radius: 10px;
}

.inst {
    font-size: small;
}

.deptandinst{
    margin: 10px;
}

.coursedetail{
    margin: 10px;
    font-weight: 700;
}

.LTPC{
    margin: 10px;
}

.desc{
    margin: 10px;
    color: rgb(102, 100, 100);
}

.knowmore{
    margin: 10px;
}

.tut, .pra, .cre{
    margin: 0 0 0 20px;
}


// coursebox
.coursebox {
    padding: 20px;
}

.coursedetails{
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
}

.col-md-6{
    padding: 10px;
}

th{
    background-color: rgb(119, 114, 114);
    color: antiquewhite;
    border-bottom: 1px solid black;
}

.col-1{
    border: 1px solid black;
    text-align: center;
    padding: 0;
}

table{
    width: 100%;
    
}

.first{
    margin-left: 30px;
    border-radius: 10px 0 0 10px;
}

.last{
    border-radius: 0 10px 10px 0;
}

.first-head{
    border-radius: 10px 0 0 0;
}

.last-head{
    border-radius: 0 10px 0 0;
}



// Search bar
.searchbar{
    padding: 20px 40px;
}