
// navigation bar
.navbar {
    padding: 20px;
}

.indexpic {
    width: 100%;
}



//coursecard
// .grow { transition: all .3s ease-in-out; }
// .grow:hover { transform: scale(1.05); }

// .box {
//     transition: box-shadow .3s;
//     width: 300px;
//     height: 500px;
//     margin: 50px;
//     border-radius:10px;
//     border: 1px solid #ccc;
//     background: #fff;
//     float: left;
    
//   }
//   .box:hover {
//     box-shadow: 0 0 11px rgba(33,33,33,.2); 
//   }

.fa-solid{
    color:#0dcaf0;
}

.coursecard{
    transition: box-shadow .3s;
    margin: 40px 100px;
    padding: 20px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.coursecard:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.dept{
    background-color: #0dcaf0;
    padding: 5px;
    font-weight: 300;
    font-size: small;
    border-radius: 10px;
}

.inst {
    font-size: small;
}

.deptandinst{
    margin: 10px;
}

.coursedetail{
    margin: 10px;
    font-weight: 700;
}

.LTPC{
    margin: 10px;
}

.desc{
    margin: 10px;
    color: rgb(102, 100, 100);
}

.knowmore{
    margin: 10px;
}

.tut, .pra, .cre{
    margin: 0 0 0 20px;
}


// coursebox
.coursebox {
    padding: 20px;
}

.coursedetails{
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
}

.col-md-6{
    padding: 10px;
}

th{
    background-color: rgb(119, 114, 114);
    color: antiquewhite;
    border-bottom: 1px solid black;
}

.col-1{
    border: 1px solid black;
    text-align: center;
    padding: 0;
}

table{
    width: 100%;
    
}

.first{
    margin-left: 30px;
    border-radius: 10px 0 0 10px;
}

.last{
    border-radius: 0 10px 10px 0;
}

.first-head{
    border-radius: 10px 0 0 0;
}

.last-head{
    border-radius: 0 10px 0 0;
}



// Search bar
.searchbar{
    padding: 20px 40px;
}