---
layout: main
---

<div class="coursebox">
    <h1>{{page.title}}: {{page.name}}</h1>
    {{page.description}}
    <br>
    <br>
    <br>
    <!-- <div class="coursedetails">
        Details


        <b>Instructor:</b>{{page.instructor}}
    </div> -->

    <div class="coursedetails">
        <h4>Details</h4>
        <div class="row">
            <div class="col-md-6">
                <li><b>Instructor:</b> {{page.instructor}}</li>
            </div>
            <div class="col-md-6">
                <li><b>Department:</b> {{page.department}}</li>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <li><b>Type:</b> {{page.type}}</li>
            </div>
            <div class="col-md-6">
                <li><b>Semester:</b> {{page.semestertype}}</li>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <li><b>Level:</b> {{page.level}}</li>
            </div>
            <div class="col-md-6">
                <li><b>Pre-req:</b> <a href="{{page.prerequisites | relative_url}}" style="text-decoration:none;">{{page.prerequisites }}</a></li>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <li><b>E-mail:</b> {{page.email}}</li>
            </div>

            <div class="col-1 first">
                <table>
                    <tr>
                        <th class="first-head">L</th>
                    </tr>
                    <tr>
                        <td>{{page.lectures}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-1">
                <table>
                    <tr>
                        <th>T</th>
                    </tr>
                    <tr>
                        <td>{{page.tutorials}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-1">
                <table>
                    <tr>
                        <th>P</th>
                    </tr>
                    <tr>
                        <td>{{page.practicals}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-1 last">
                <table>
                    <tr>
                        <th class="last-head">C</th>
                    </tr>
                    <tr>
                        <td>{{page.credits}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <hr>
        <br>

        <div>
            <h4>Syllabus</h4>
            {{page.syllabus}}
        </div>

        <hr>
        <br>

        <div>
            <h4>References</h4>
            {% for reference in page.references %}
                <li>{{ reference }}</li>
            {% endfor %}
        </div>
    </div>
</div>